@model MvcStok.Models.Entity.tbl_musterıler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.musteriid)
        @Html.TextBoxFor(m => m.musteriid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.musteriad)
        @Html.TextBoxFor(m => m.musteriad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.musterisoyad)
        @Html.TextBoxFor(m => m.musterisoyad, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning">MÜŞTERİ GÜNCELLE</button>
    </div>
}

